{{#each post as |posts| }}
<div class="post">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">{{posts.title}} by: {{posts.user.username}}</p>
                </div>
            </div>
            <div class="content">
                {{posts.contents}}
                <br>
                <time datetime='{{posts.date_created}}'>{{posts.date_created}}</time>
            </div>
        </div>
    </div>
    {{#each posts.comments as |comments| }}
    <div class="card">
        <p>{{comments.text}}</p>
        <p>By: {{comments.user.username}}</p>
    </div>
    {{/each}}
</div>
{{/each}}